<div class="">
  didit_image_tag<br>
  <%= image_tag_508 'https://lh4.ggpht.com/WtFP82fcc8w5SffEqSJNENBuk0ckAy65PAZr05yp8XPaqagyMDuKt48iTOGwZ5w2CU0=h310',  title: 'Code Image', alt: 'My Code Image' %>
</div>

<div class="">
  map <br>
  <%= map_tag_508 name: 'My Map' do %>
      <%= area_tag_508 href: 'javascript:;', alt: 'My Alt', shape: 'rect', coords: '0,1,2,4,5' %>
  <% end %>
</div>
