

<ul>
  <% nav.each_with_index  do |nav_item, i| %>
    <li>
      <%= link_to nav_item[:name], nav_item[:path] %>
    </li>
  <% end %>
</ul>

    <%= fieldset_tag_508 id: 'ss', name: 'ss', legend: 'Inline Legend' do %>
      This is some content
    <% end %>


    <%= fieldset_tag_508 id: 'xx', name: 'xx' do %>
     <legend>Another something</legend>
      Another fieldset
    <%= link_to_508( 'A', 'B', alt: 'alt', title: 'title') %>
    <% end %>


